{% extends 'base.html' %}
{% block title %}Jobs_Details{% endblock title %}
{% block content %}
    <nav class="navbar navbar-light bg-light">

</nav>
    {% for job in object_list %}
    <div class="card">
   <div class="card-header">
     <span class="font-weight-bold">Job Title:{{ job.title }}</span> &middot;
      <div class="card-body">
 client:{{ job.client }}
</div>
         <div class="card-body">
 category:{{ job.category }}
</div>
            <div class="card-body">
 location:{{ job.location }}
</div>
            <div class="card-body">
 Date Added:{{ job.date }}
</div>

</div>
    <div class="card-body">
Description:{{ job.body }}
</div>
    </div>
  <div class="card">
           <div class="card-content">
               <form action="" method="POST" class="form">
                   {% csrf_token %}
               <h5>Promote Bid</h5>
               <label for="">
                   Share Quantity
               </label>
               <input name="quantity" required id="quantity" type="number" min=1>
               <label for="">
                   Amount ($)
               </label>
               <input name="amount" required id="amount" type="number" min=1>
               <button type="submit" style="margin-top: 1rem;" class="btn btn-primary" >Submit Bid</button>
            </form>
           </div>
       </div>
<br />
{% endfor %}
{% endblock content %}
